server:
  port: 8080

spring:
  application:
    name: pool-service
  docker:
    compose:
      enabled: false


  # Настройка DB и JPA
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    driver-class-name: org.postgresql.Driver
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
    open-in-view: false
  sql:
    init:
      mode: always
      data-locations: schema-prod.sql

management:
  endpoints:
    web:
      exposure:
        include: *
  endpoint:
    health:
      show-details: always